// Animations for title move and apperance

@keyframes mainTitleApperance {
    0% {
        top: -100%;
    }

    100% {
        top: 30px;
    }
}

@keyframes textTitleMove {
    0% {
        left: 0
    }

    100% {
        left: 100px;
    }
}

//Animations for main__description

@keyframes sectionArticleApperance {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 30px;
    }
}

@keyframes sectionArticleMove {
    0% {
        left: 80px;
    }

    100% {
        left: 20px;
    }
}