$breakpoints: (very-small: (max-width: 360px),
    small: (max-width: 460px),
    medium: (max-width: 780px),
    large: (max-width: 1024px),
    extra-large: (max-width: 1250px),
    medium-landscape: (max-width: 830px) and (orientation: landscape),
    small-landscape: (max-width: 670px) and (orientation: landscape),
    very-small-landscape: (orientation: landscape) and (max-width: 570px),
);