@import "variables";
@import "mixin";
@import "animations";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap&subset=latin-ext');

$mainFont: 'Raleway',
sans-serif;
$mainFontSize: 10px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
}

html {
    font-size: $mainFontSize;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;

    &__title {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 8rem;
        color: white;
        font-weight: 200;


        &--black {
            color: black;
        }

        &--background-darken {
            background-color: rgba(100, 100, 100, 0.5);
        }

        &--animation {
            animation: mainTitleApperace 1s 1 both;
        }
    }

    &__description {
        position: absolute;
        bottom: 30px;
        left: 30px;
        background-color: rgba(100, 100, 100, 0.3);
        padding: 15px 25px;
        border-radius: 15px;
        max-width: 50%;

        display: flex;
        flex-direction: column;

        &--animation {
            animation: descriptionBox 1s 1 both;
        }

        &--white {
            color: white;
        }

        &--darken {
            background-color: rgba(100, 100, 100, 0.9);
        }
    }

    &__h2 {
        flex-basis: 10%;
        align-self: center;
        font-size: 3.5rem;
        margin-bottom: 10px;
    }

    &__article {
        flex-grow: 1;
        align-self: center;
        font-size: 1.6rem;
    }

    &__link {
        flex-basis: 10%;
        align-self: flex-end;

        text-decoration: none;
        color: white;
        margin-top: 10px;
        font-size: 1.7rem;
        transition: 0.2s;
    }


    &__start {
        background-image: url(../img/Startimg2.jpg);
    }

    &__water-waste {
        background-image: url(../img/Savethewater.jpg);
    }

    &__industry {
        background-image: url(../img/Industry.jpg);
    }

    &__climate {
        background-image: url(../img/Dryandfire.jpg);
    }

    &__waste {
        background-image: url(../img/Waste.jpg);
    }

    &__overpopulated {
        background-image: url(../img/Overpopulated.jpg);
    }

    &__poor {
        background-image: url(../img/Poor.jpg);
    }

    &__recykling {
        background-image: url(../img/recyklingbins.jpg);
    }
}


.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}